.components-base-control.story-base-control {
	button {
		cursor: pointer;
		display: block;
	}

	.post-select {
		button {
			padding: 0;
		}
	}
}

.wp-block {
	.wp-block-wmf-reports-story {
		&.overlay {
			border: 1px solid #0167C7;
			margin-top: -6.5rem;
			margin-left: -2rem;
			margin-right: -2rem;

			&__navigation {
				background-color: #fff;
				display: flex;
				text-align: left;
				padding: 2rem 2rem 0 2rem;

				&:only-child {
					padding-bottom: 2rem;
				}
			}

			&__inner {
				padding: 2rem;
			}
		}
	}
}
