.components-base-control.story-base-control {

	button {
		cursor: pointer;
		display: block;
	}

	.post-select {

		button {
			padding: 0;
		}
	}
}

.wp-block-wmf-reports-overlay .block-editor-block-list__layout > .wp-block[data-align="full"] {
	max-width: 100%;

	.wp-block:not([data-align="full"]) {
		max-width: 960px;
	}
}

/* stylelint-disable no-descending-specificity */
.wp-block {

	.overlay-container {
		border: 1px solid #0167c7;
		margin-top: -6.5rem;
		margin-left: -2rem;
		margin-right: -6rem;
		max-width: 100%;

		&__navigation {
			background-color: #fff;
			display: flex;
			text-align: left;
			padding: 2rem 2rem 0 2rem;

			&:only-child {
				padding-bottom: 2rem;
			}
		}

		&__inner {
			padding: 2rem;
		}

		.overlay__content {
			padding-top: 0;
		}
	}
}
/* stylelint-enable no-descending-specificity */

.wmf-pattern-reports-leadership {

	.block-editor-block-list__block:has( .wp-block-wmf-reports-overlay ),
	.wp-block-group__inner-container:has( .wp-block-wmf-reports-overlay ),
	.wp-block-wmf-reports-overlay {
		position: static;
	}

	.wp-block {

		.overlay-container {
			border: none;
			margin-top: auto;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;

			&__navigation {
				background-color: transparent;
				display: flex;
				text-align: left;
				padding: 1rem 0 0 0;

				&:only-child {
					padding-bottom: 0;
				}
			}

			&__inner {
				background: #fff;
				border: 1px solid #0167c7;
				left: 0;
				padding: 2rem;
				position: absolute;
				width: 100%;
				z-index: 2;
			}

			.overlay__content {
				padding-top: 0;
			}
		}
	}
}
