/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.expandable-content {

	&.is-collapsed {
		height: 100px;
		overflow: hidden;
	}

	&.is-expanded {
		height: auto;
	}
}

.expandable-expander {

	.expandable-button {
		max-width: 300px;
		background-color: white;
		border: 1px solid #aaa;
		color: #000;

		&::after {
			content: "\f347";
		}
	}
}
