.editor-styles-wrapper .wmf-pattern-reports-hero,
.wmf-pattern-reports-hero {

	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: 400;
	line-height: $line-height-base;
	padding: 0 !important;

	p+p {
		margin-top: 0;
	}

	&.wp-block-group.alignfull,
	.wp-block-group.alignfull,
	.alignfull,
	.wp-block[data-align="full"] {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		width: 100%;

		.wp-block-group__inner-container {
			padding: 0;
		}
	}

	.alignwide,
	.wp-block[data-align="wide"] {
		margin: auto;
		max-width: $width-breakpoint-wide !important;
		width: 100%;
	}

	.wp-block-group__inner-container {
		position: relative;
	}

	.reports-hero-headings-wrapper {
		transform: translateY(-50%);
		margin-bottom: -5rem;

		@media only screen and ( min-width: 782px ) {
			margin-bottom: 0;
			position: absolute;
			top: 50%;
		}
	}

	.wp-block-group.has-background.reports-hero-headings-pill {
		border-radius: 0 30px 30px 0;
		max-width: 90%;
		padding: 2rem;

		h1 {
			font-size: 35px;
		}

		.reports-hero-headings-label {
			position: absolute;
			top: -3rem;
		}

		@media only screen and ( min-width: 782px ) {
			border-radius: 30px;
			max-width: 55%;
		}
	}

	.wp-block-image {
		margin-bottom: 0;
		min-width: 100%;

		img {
			object-fit: cover;
			height: 521px;
		}
	}

	.has-large-font-size {
		line-height: 1.5;
	}

	.reports-hero-content {
		margin-bottom: 1rem !important;
		padding-bottom: 3rem !important;

		.is-style-sans-p {
			font-size: 15px;

			@media only screen and ( min-width: 782px ) {
				font-size: 24px;
			}
		}

		.wp-block-wmf-reports-expandable {
			padding-left: 2rem;
			padding-right: 2rem;

			@media only screen and ( min-width: 782px ) {
				border-left: 1px solid #fff;
				padding-left: 3rem;
				margin-top: -4rem;
				padding-top: 4rem;
			}
		}

		.expandable-expander {
			background: #00A0FF;
			border-color: rgba(255, 255, 255, 0.5);
			border-radius: 2px;
		}
	}
}
