.carousel {
	overflow: hidden;
	position: relative;

	.carousel-wrapper {
		position: relative;

		@media only screen and ( min-width: 782px ) {
			position: initial;
		}
	}

	&__buttons-wrapper {
		bottom: auto;
		position: absolute;
		top: calc(300px - 1.5rem);
		right: 0;
		width: 100%;
		z-index: 2;

		@media only screen and ( min-width: 782px ) {
			bottom: 2rem;
			top: auto;
			right: auto;
		}
	}

	&__markers-wrapper:not(:has(.carousel__slide[style*="visibility: visible;"] .carousel__image img)) {

		.carousel__buttons-wrapper {
			top: - 1.5rem;

			@media only screen and ( min-width: 782px ) {
				top: auto;
			}
		}
	}

	&__buttons {
		margin: auto;
		max-width: $width-breakpoint-wide;
		text-align: right;
		padding-right: 1rem;

		@media only screen and ( min-width: calc( $width-breakpoint-wide + 1rem ) ) {
			padding-right: 0;
		}
	}

	&__button {
		background-color: #fff;
		// stylelint-disable-next-line function-url-quotes
		background-image: url('data:image/svg+xml,<svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5858 11L0.292908 1.70712L1.70712 0.292908L12.4142 11L1.70712 21.7071L0.292908 20.2929L9.5858 11Z" fill="black"/></svg>');
		background-position: 55% 50%;
		background-repeat: no-repeat;
		border: 1px solid #aaa;
		border-radius: 100%;
		cursor: pointer;
		height: 48px;
		margin-left: 0.5rem;
		width: 48px;

		&--back {
			transform: scaleX(-1);
		}

		&:hover {
			background-color: #ccc;
		}

		&:focus {
			border-radius: 100%;
		}
	}

	.alignwide {
		max-width: $width-breakpoint-wide;
	}
}

.carousel-slide {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: 400;
	line-height: $line-height-base;


	@media only screen and ( max-width: 781px ) {
		padding: 0;

		&.wp-block-group.has-background {
			padding: 0;
		}

		.wp-block-columns .wp-block-column:last-child {
			margin-left: 0;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	.is-style-sans-p {
		margin-top: 0;
	}

	&__image.wp-block-image {
		margin-bottom: 0;

		img {
			max-height: 300px;
			width: 100%;

			@media only screen and ( min-width: 782px ) {
				border-radius: 30px;
				max-height: 100%;
			}
		}
	}

	&__category {
		text-transform: uppercase;
		font-weight: 700;
	}

	&__heading {
		font-family: $font-family-base;
		font-size: $font-size-xlarge;
		font-weight: 700;
	}

	&__location.is-style-sans-p {
		margin-bottom: 0.5rem;

		&::before {
			content: "";
			background: #ff7800;
			background-size: cover;
			border-radius: 50%;
			display: inline-block;
			height: $font-size-base;
			margin-right: 8px;
			width: $font-size-base;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;

		.wp-block-column:last-child {

			> *:last-child {
				margin-bottom: 1rem;

				@media only screen and ( min-width: 782px ) {
					margin-bottom: 5rem;
				}
			}
		}
	}
}

.wp-block-wmf-reports-story {
	&.animate {
		transition: all 0.25s;
	}
}

.wmf-annual-reports-overlay-wrapper {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	transition: all 0.3s;
	width: 100%;
	z-index: 99999;

	.wmf-annual-reports-overlay-popover {
		background-color: #fff;
		margin: auto;
		max-width: calc( $width-breakpoint-wide + 8rem );
		opacity: 0;
		padding: 0;
		position: relative;
		transition: all 0.3s;

		@media only screen and ( min-width: 782px ) {
			border-radius: 30px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
			padding: 2rem 6rem 2rem 2rem;
		}
	}

	.wmf-annual-reports-overlay-popover-close {
		background-color: #fff;
		// stylelint-disable-next-line function-url-quotes
		background-image: url('data:image/svg+xml,<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.17069 7.9958L1.16665 13.9998L0 12.8332L6.00404 6.82915L0.341705 1.16681L1.50836 0.000160592L7.17069 5.66249L12.8332 0L13.9998 1.16665L8.33735 6.82915L14.3415 12.8333L13.1749 14L7.17069 7.9958Z" fill="%23202122"/></svg>');
		background-position: 55% 50%;
		background-repeat: no-repeat;
		border: 1px solid #aaa;
		border-radius: 100%;
		cursor: pointer;
		height: 48px;
		position: absolute;
		right: 1rem;
		top: 1rem;
		width: 48px;

		@media only screen and ( min-width: 782px ) {
			position: fixed;
			right: 2rem;
			top: 2rem;
		}

		@media only screen and ( min-width: calc( $width-breakpoint-wide + 8rem ) ) {
			left: 50%;
			transform: translateX( calc( -50% + calc( $width-breakpoint-wide / 2 ) ) );
		}

		&:hover {
			background-color: #ccc;
		}

		&:focus {
			border-radius: 100%;
		}
	}
}
