.is-style-report-section-heading {
	background: #000;
	color: #fff;
	font-family: 'Noto Sans';
	font-size: 0.9375rem;
	font-weight: bold;
	margin: 0 0 -0.5em 0;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	width: max-content;

	// Slightly break out of group container.
	.wp-block-group.has-background &:first-child {
		transform: translate( 0, -50% );
		margin-top: -1.25rem;
	}
}
