.wikimedia-endow,
body.single-wmf-report.wikimedia-endow:not(.home) {
	$width-breakpoint-wide: 1440px;

	.wp-block-heading {
		margin: 0 0 1rem 0;
	}

	p {
		margin-top: 0;
	}

	h2:not([class*="is-style-"]) {
		margin-bottom: 2rem;

		&.wp-block-heading {
			display: inline-block;
			background: #0060fe;
			color: #fff;
			font-family: $font-family-base;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 700;
			padding: 0.5rem 1rem 0.5rem 1rem;
			margin-bottom: 1rem;

			&::after {
				display: none;
			}
		}
	}

	.alignfull {
		transform: none;
		padding: 0;

		> div {
			max-width: 100%;
			padding: 0;
		}

		p {
			max-width: 100%;
		}
	}

	.wp-block-group.alignfull,
	.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		width: 100%;

		// stylelint-disable-next-line no-descending-specificity
		.wp-block-group__inner-container {
			padding: 0;
		}
	}

	.wp-block-group.alignwide,
	.alignwide {
		margin-left: auto;
		margin-right: auto;
		max-width: $width-breakpoint-wide !important;
		width: 100%;

		@media only screen and ( max-width: calc( $width-breakpoint-wide + 4rem ) ) {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	.wmf-report.hentry {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}

	.entry-content {
		max-width: 100%;
	}

	.wp-block-group.has-background {
		border-bottom-right-radius: 0;
	}

	/** Images **/
	.wmf-pattern-image {
		clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
		margin-bottom: 2rem;

		@media only screen and ( min-width: 782px ) {
			clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
		}
	}

	.wp-block-image.is-style-report-image,
	.wp-block-image.is-style-report-image.alignwide,
	.wp-block-image.is-style-report-image-vertical,
	.wp-block-image.is-style-report-image-vertical.alignwide {
		background-color: transparent;

		img {
			border-bottom-right-radius: 0;
		}

		mark {
			margin-bottom: 2rem;
		}

		@media only screen and ( min-width: 782px ) {
			display: flex;

			figcaption {

				border-bottom-right-radius: 2rem;
				padding: 1rem;
				position: relative;
				width: 100%;
				mark {
					position: relative;
					margin-top: 2rem;
				}
			}

			img {
				max-width: 66.66%;
				width: 100%;
			}
		}
	}

	/** Expandable Content **/
	.expandable-content {
		&::after {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
		}
	}

	/** Carousels **/
	.wmf-pattern-reports-carousel-slide {
		clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);

		@media only screen and ( min-width: 782px ) {
			clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
			// min-height: 500px;
		}

		&__image {
			background-color: #fff;
			margin: 0;

			@media only screen and ( min-width: 782px ) {
				height: 100%;
				// min-height: 500px;
			}

			img {
				@media only screen and ( min-width: 782px ) {
					height: 100%;
					// min-height: 500px;
				}
			}
		}

		&__location,
		&__location.is-style-sans-p {

			&::before {
				background: #0060fe;
			}
		}

		.wp-block-group__inner-container {
			@media only screen and ( min-width: 782px ) {
				// min-height: 500px;
			}
		}

		.wp-block-columns.alignwide {
			padding: 0;

			.wp-block-column:last-of-type {
				padding: 2rem 2rem 6rem 2rem;

				@media only screen and ( min-width: 782px ) {
					padding: 2rem 2rem 6rem 0;

					.wp-block-buttons {
						margin-bottom: 10rem;
					}
				}
			}
		}
	}

	.wp-block-wmf-reports-map.carousel,
	.wp-block-wmf-reports-stories.carousel {
		margin-bottom: 2rem;

		.carousel__buttons-wrapper {
			@media only screen and ( min-width: 782px ) {
				bottom: 16%;
			}
		}
	}

	/** Stories **/
	.wp-block-wmf-reports-stories.stories {

		&.carousel .stories__categories-outer-wrapper.alignwide {
			&::after,
			&::before {
				background: linear-gradient(90deg, rgba(248, 249, 250, 0) 0%, rgba(255, 255, 255, 1) 80%);
			}

			&::before {
				background: linear-gradient(270deg, rgba(248, 249, 250, 0) 0%, rgba(255, 255, 255, 1) 80%);
			}
		}

		.category-slide {
			&:hover,
			&:focus,
			&.active {
				background-color: #0060fe;
				border-color: #0060fe;
				color: #fff;
			}
		}
	}

	/** Map **/
	.wp-block-wmf-reports-map {
		.marker.active,
		.cluster.active {
			background: #0060fe;
		}
	}
}
