.wp-block-wmf-reports-map {

	#map {
		background-color: #fff;
	}

	&::after {
		box-shadow: inset 0 3px 10px -10px rgba(0, 0, 0, 0.75);
		content: "";
		height: 10px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.alignwide {
		max-width: $width-breakpoint-wide;
	}

	.mapboxgl-map {
		height: 300px;
		margin: auto;
		width: 100%;

		@media only screen and ( min-width: 782px ) {
			height: 250px;
		}
	}

	.mapboxgl-control-container {
		margin: auto;
		max-width: $width-breakpoint-wide;
	}

	.mapboxgl-ctrl-top-right {
		position: relative;
	}

	.mapboxgl-ctrl-logo {
		display: none !important;
	}

	.marker {
		content: "";
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		height: 1.5rem;
		width: 1.5rem;
	}

	.cluster {
		color: #fff;
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		font-size: $font-size-base;
		height: 2rem;
		text-align: center;
		width: 2rem;
		padding-top: 0.35rem;
	}

	.marker.active,
	.cluster.active {
		background: #ff7800;
		height: 1.8rem;
		width: 1.8rem;
	}

	.wp-block-buttons {
		display: inline-block; // Prevents overlap with nav arrows.
	}
}

.wp-block-wmf-reports-map__container.wp-block-group.has-background:not(:only-child) {
	padding-bottom: 0;
}

.wp-block-wmf-reports-marker {

	&.animate {
		transition: all 0.25s;
	}

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.wp-block-group.has-background:not(:only-child) {
		margin-bottom: 0;
	}
}
