.wp-block-wmf-reports-map {
	position: relative;

	&::after {
		box-shadow: inset 0 3px 10px -10px rgba(0, 0, 0, 0.75);
		content: "";
		height: 10px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.mapboxgl-map {
		height: 400px;
		margin: auto;
		width: 100%;
	}

	.marker {
		content: "";
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		height: 1.5rem;
		width: 1.5rem;
	}

	.cluster {
		color: #fff;
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		font-size: 1rem;
		height: 2rem;
		text-align: center;
		width: 2rem;
		padding-top: 0.35rem;
	}

	.marker.active,
	.cluster.active {
		background: #ff7800;
	}
}

.wp-block-wmf-reports-marker {

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.wp-block-group__inner-container {
		max-width: 960px;
	}
}

.map-info {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.75;

	@media only screen and ( max-width: 781px ) {
		padding: 0;

		&.wp-block-group.has-background {
			padding: 0;
		}

		.wp-block-columns .wp-block-column:last-child {
			margin-left: 0;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	.is-style-sans-p {
		margin-top: 0;
	}

	&__image.wp-block-image {
		margin-bottom: 0;

		img {
			max-height: 300px;
			width: 100%;

			@media only screen and ( min-width: 782px ) {
				border-radius: 30px;
				max-height: 100%;
			}
		}
	}

	&__category {
		text-transform: uppercase;
		font-weight: 700;
	}

	&__heading {
		font-family: "Noto Sans", Arial, Helvetica, sans-serif;
		font-size: 24px;
		font-weight: 700;
	}

	&__location.is-style-sans-p {
		margin-bottom: 0.5rem;

		&::before {
			content: "";
			background: #ff7800;
			background-size: cover;
			border-radius: 50%;
			display: inline-block;
			height: 15px;
			margin-right: 8px;
			width: 15px;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;

		.wp-block-column:last-child {

			> *:last-child {
				margin-bottom: 1rem;

				@media only screen and ( min-width: 782px ) {
					margin-bottom: 5rem;
				}
			}
		}
	}
}

.map {

	&__markers-wrapper {
		position: relative;

		@media only screen and ( min-width: 782px ) {
			position: initial;
		}
	}

	&__buttons-wrapper {
		bottom: auto;
		position: absolute;
		top: calc(300px - 1.5rem);
		right: 1rem;
		width: 100%;

		@media only screen and ( min-width: 782px ) {
			bottom: 2rem;
			top: auto;
			right: auto;
		}
	}

	&__markers-wrapper:not(:has(.wp-block-wmf-reports-marker[style*="visibility: visible;"] .map-info__image img)) {

		.map__buttons-wrapper {
			top: - 1.5rem;

			@media only screen and ( min-width: 782px ) {
				top: auto;
			}
		}
	}

	&__buttons {
		margin: auto;
		max-width: 960px;
		text-align: right;
	}

	&__button {
		background-color: #fff;
		// stylelint-disable-next-line function-url-quotes
		background-image: url('data:image/svg+xml,<svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5858 11L0.292908 1.70712L1.70712 0.292908L12.4142 11L1.70712 21.7071L0.292908 20.2929L9.5858 11Z" fill="black"/></svg>');
		background-position: 55% 50%;
		background-repeat: no-repeat;
		border: 1px solid #aaa;
		border-radius: 100%;
		cursor: pointer;
		height: 48px;
		margin-left: 0.5rem;
		width: 48px;

		&--back {
			transform: scaleX(-1);
		}

		&:hover {
			background-color: #ccc;
		}

		&:focus {
			border-radius: 100%;
		}
	}
}
