@import '!mapbox-gl/dist/mapbox-gl.css';

.wp-block-wmf-reports-map {
	position: relative;

	&::after {
		box-shadow: inset 0px 3px 10px -10px rgba(0,0,0,0.75);
		content: '';
		height: 10px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.mapboxgl-map {
		height: 400px;
		margin: auto;
		width: 100%;
	}

	.marker {
		content: '';
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		height: 1.5rem;
		width: 1.5rem;
	}

	.cluster {
		color: #fff;
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		font-size: 1rem;
		height: 2rem;
		text-align: center;
		width: 2rem;
		padding-top: 0.35rem;
	}

	.marker.active,
	.cluster.active {
		background: #FF7800;
	}
}

.wp-block-wmf-reports-marker {
	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.wp-block-group__inner-container {
		max-width: 960px;
	}
}

.map-info {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.75;

	@media only screen and ( max-width: 781px ) {
		padding: 0px;

		&.wp-block-group.has-background {
			padding: 0px;
		}
	}

	.is-style-sans-p {
		margin-top: 0;
	}

	&__image {
		img {
			@media only screen and ( min-width: 782px ) {
				border-radius: 30px;
			}
		}
	}

	&__category {
		text-transform: uppercase;
		font-weight: 700;
	}

	&__heading {
		font-family: "Noto Sans", Arial, Helvetica, sans-serif;
		font-size: 24px;
		font-weight: 700;
	}

	&__location.is-style-sans-p {
		margin-bottom: 0.5rem;

		&::before {
			content: '';
			background: #FF7800;
			background-size: cover;
			border-radius: 50%;
			display: inline-block;
			height: 15px;
			margin-right: 8px;
			width: 15px;
		}
	}

	.wp-block-column *:last-child,
	.wp-block-columns {
		margin-bottom: 0px;
	}
}
