@use "../helpers/variables";

.wp-block-wmf-reports-report-archive.carousel {
	position: relative;

	.carousel__track-outer {
		margin: auto;
		max-width: calc(variables.$width-breakpoint-desktop-extrawide * 2);
		scrollbar-width: none;
		overflow: hidden;
	}

	.carousel__track {
		display: flex;
		gap: 2rem;
		width: max-content;

		&.animate {
			transition: all 0.5s;
		}
	}

	.carousel__buttons-wrapper {
		position: absolute;
		top: -6.5rem;
		width: 100%;
	}
}

// stylelint-disable no-descending-specificity
.block-editor-block-list__layout > .wp-block.wp-block-wmf-reports-report,
.wp-block-wmf-reports-report {
	max-width: 240px;
	width: 240px;

	.wp-block-wmf-reports-report__image {
		margin-bottom: 2rem;
	}

	.wp-block-wmf-reports-report__date {
		margin-bottom: 0.5rem;
	}

	h3.wp-block-wmf-reports-report__title,
	.wp-block-wmf-reports-report__title {
		line-height: 1.2;
	}
}
