.wp-block-wmf-reports-report-archive.carousel {
	margin-top: 2rem;

	.carousel__track-outer {
		scrollbar-width: none;
		overflow: scroll;
	}

	.carousel__track {
		display: flex;
		gap: 2rem;
		width: max-content;
	}
}

.block-editor-block-list__layout > .wp-block.wp-block-wmf-reports-report,
.wp-block-wmf-reports-report {
	max-width: 240px;
	width: 240px;

	.wp-block-wmf-reports-report__image {
		margin-bottom: 2rem;

		img {
			border-bottom-right-radius: 2rem;
		}
	}

	.wp-block-wmf-reports-report__date {
		margin-bottom: 0.5rem;
	}

	h3.wp-block-wmf-reports-report__title,
	.wp-block-wmf-reports-report__title {
		line-height: 1.2;
	}
}
