.wp-block-wmf-reports-stories {

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.alignwide {
		max-width: $width-breakpoint-wide;
	}
}

.wp-block-wmf-reports-story {

	&.animate {
		transition: all 0.25s;
	}
}

.stories {

	&.carousel &__categories-wrapper.alignwide {
		margin: auto;
		margin-bottom: 2rem;
		max-width: calc( $width-breakpoint-wide + 4rem ) !important;
		overflow: scroll;
		padding-left: 0;
		padding-right: 0;
		padding-top: 2px;
		position: relative;
		scrollbar-width: none;

		@media only screen and ( min-width: 782px ) {
			overflow: hidden;
		}
	}

	&.carousel &__categories-outer-wrapper.alignwide {
		max-width: calc( $width-breakpoint-wide + 4rem ) !important;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		position: relative;

		&::after,
		&::before {
			bottom: 0;
			background: linear-gradient(90deg, rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 1) 80%);
			content: "";
			height: 100%;
			position: absolute;
			right: 0;
			width: 2rem;
			z-index: 1;
		}

		&::before {
			background: linear-gradient(270deg, rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 1) 80%);
			left: 0;
		}
	}

	&__categories {
		display: flex;
		gap: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		transition: all 0.5s;
		width: max-content;
	}

	.category-slide {
		background-color: #fff;
		border: 1px solid #000;
		cursor: pointer;
		padding: 1rem;
		text-align: center;

		&:hover,
		&:focus,
		&.active {
			background-color: #ff7800;
			border-color: #ff7800;
			color: #fff;

			img {
				filter: brightness(0) invert(1);
			}
		}

		/* stylelint-disable no-descending-specificity */
		img {
			display: block;
			height: 1rem;
			margin: 0 auto 0.5rem auto;
			min-height: $font-size-base;
			min-width: $font-size-base;
			width: auto;
		}
		/* stylelint-enable no-descending-specificity */
	}
}
