.wp-block-wmf-reports-animation {
	// Slight specificity bump to override default link styles.
	a.wmf-animation__editor-help {
		color: var(--link-color, #3a25ff);
		font-family: var(--font-family-sans, sans-serif);
		font-size: 0.8rem;
		font-style: italic;
		text-decoration: underline;
	}

	.wmf-animation__editor-error {
		color: #e20000;
		font-family: var(--font-family-sans, sans-serif);
		font-size: 0.8rem;
		font-weight: 700;
		margin-bottom: 0;
	}

	[data-align="center"] > & {
		> div {
			margin: auto;
		}
	}
}
