/* Support for our custom colors */
.has-wmf-report-brightblue-background-color {
	background-color: #00a0ff;
}

.has-wmf-report-blue-background-color {
	background-color: #0067c7;
}

.has-wmf-report-bright-yellow-background-color {
	background-color: #e9e7c0;
}

.has-wmf-report-red-background-color {
	background-color: #970302;
	color: #fff;
}

.has-wmf-report-orange-background-color {
	background-color: #ff7800;
}

.has-wmf-report-yellow-background-color {
	background-color: #f0bc00;
}

.has-wmf-report-green-background-color {
	background-color: #318557;
	color: #fff;
}

.has-green-30-background-color {
	background-color: #14866d;
	color: #fff;
}

.has-wmf-report-bright-green-background-color {
	background-color: #71d1b3;
	color: var(--text-color);
}

.has-wmf-report-purple-background-color {
	background-color: #5748b5;
	color: #fff;
}

.has-wmf-report-link-color-background-color {
	background-color: #3a25ff;
}

.has-wmf-report-toned-yellow-background-color {
	background-color: #fbeebf;
}

.has-wend-report-luminous-vivid-orange-background-color {
	background-color: #ff6801;
}

.has-wend-report-luminous-vivid-amber-background-color {
	background-color: #fcb900;
}

.has-wend-report-cobalt-background-color {
	background-color: #0360fe;
}

.has-wend-report-slate-blue-background-color {
	background-color: #1c2d3e;
}

.has-wend-report-vivid-cyan-green-background-color {
	background-color: #00d084;
}

.has-wend-report-pale-cyan-blue-background-color {
	background-color: #8fd1fc;
}

.has-wend-report-vivid-purple-background-color {
	background-color: #9b51df;
}

.has-wend-report-bright-blue-background-color {
	background-color: #00ced6;
}

.has-wmf-report-brightblue-color {
	color: #00a0ff;
}

.has-wmf-report-blue-color {
	color: #0067c7;
}

.has-wmf-report-bright-yellow-color {
	color: #e9e7c0;
}

.has-wmf-report-red-color {
	color: #970302;
}

.has-wmf-report-orange-color {
	color: #ff7800;
}

.has-wmf-report-yellow-color {
	color: #f0bc00;
}

.has-wmf-report-green-color {
	color: #318557;
}

.has-green-30-color {
	color: #14866d;
}

.has-wmf-report-bright-green-color {
	color: #71d1b3;
}

.has-wmf-report-purple-color {
	color: #5748b5;
}

.has-wmf-report-link-color-color {
	color: #3a25ff;
}

.has-wmf-report-toned-yellow-color {
	color: #fbeebf;
}

.has-wend-report-luminous-vivid-orange-color {
	color: #ff6801;
}

.has-wend-report-luminous-vivid-amber-color {
	color: #fcb900;
}

.has-wend-report-cobalt-color {
	color: #0360fe;
}

.has-wend-report-slate-blue-color {
	color: #1c2d3e;
}

.has-wend-report-vivid-cyan-green-color {
	color: #00d084;
}

.has-wend-report-pale-cyan-blue-color {
	color: #8fd1fc;
}

.has-wend-report-vivid-purple-color {
	color: #9b51df;
}

.has-wend-report-bright-blue-color {
	color: #00ced6;
}
