/* Support for our custom colors */
:root {
	--wp--preset--color--base-10: #202122;
	--wp--preset--color--base-20: #54595d;
	--wp--preset--color--base-30: #72777d;
	--wp--preset--color--base-50: #a2a9b1;
	--wp--preset--color--base-0: #000000;
	--wp--preset--color--base-70: #c8ccd1;
	--wp--preset--color--base-80: #eaecf0;
	--wp--preset--color--base-90: #f8f9fa;
	--wp--preset--color--base-100: #ffffff;
	--wp--preset--color--blue-90: #eeeaff;

	--wp--preset--color--wmf-report-brightblue: #00a0ff;
	--wp--preset--color--wmf-report-blue: #0067c7;
	--wp--preset--color--wmf-report-bright-yellow: #e9e7c0;
	--wp--preset--color--wmf-report-red: #970302;
	--wp--preset--color--wmf-report-orange: #ff7800;
	--wp--preset--color--wmf-report-yellow: #f0bc00;
	--wp--preset--color--wmf-report-green: #318557;
	--wp--preset--color--green-30: #14866d;
	--wp--preset--color--wmf-report-bright-green: #71d1b3;
	--wp--preset--color--wmf-report-purple: #5748b5;
	--wp--preset--color--wmf-report-link-color: #3a25ff;
	--wp--preset--color--wmf-report-toned-yellow: #fbeebf;

	--wp--preset--color--wend-report-luminous-vivid-orange: #ff6801;
	--wp--preset--color--wend-report-luminous-vivid-amber: #fcb900;
	--wp--preset--color--wend-report-cobalt: #0360fe;
	--wp--preset--color--wend-report-slate-blue: #1c2d3e;
	--wp--preset--color--wend-report-vivid-cyan-green: #00d084;
	--wp--preset--color--wend-report-pale-cyan-blue: #8fd1fc;
	--wp--preset--color--wend-report-vivid-purple: #9b51df;
	--wp--preset--color--wend-report-bright-blue: #00ced6;
	--wp--preset--color--wend-report-gold: #85754e;
}

.has-wmf-report-brightblue-background-color {
	background-color: #00a0ff;
}

.has-wmf-report-blue-background-color {
	background-color: #0067c7;
}

.has-wmf-report-bright-yellow-background-color {
	background-color: #e9e7c0;
}

.has-wmf-report-red-background-color {
	background-color: #970302;
	color: #fff;
}

.has-wmf-report-orange-background-color {
	background-color: #ff7800;
}

.has-wmf-report-yellow-background-color {
	background-color: #f0bc00;
}

.has-wmf-report-green-background-color {
	background-color: #318557;
	color: #fff;
}

.has-green-30-background-color {
	background-color: #14866d;
	color: #fff;
}

.has-wmf-report-bright-green-background-color {
	background-color: #71d1b3;
	color: var(--text-color);
}

.has-wmf-report-purple-background-color {
	background-color: #5748b5;
	color: #fff;

	*:focus {
		outline-color: #fff !important;
	}
}

.has-wmf-report-link-color-background-color {
	background-color: #3a25ff;
}

.has-wmf-report-toned-yellow-background-color {
	background-color: #fbeebf;
}

.has-wend-report-luminous-vivid-orange-background-color {
	background-color: #ff6801;
}

.has-wend-report-luminous-vivid-amber-background-color {
	background-color: #fcb900;
}

.has-wend-report-cobalt-background-color {
	background-color: #0360fe;
}

.has-wend-report-slate-blue-background-color {
	background-color: #1c2d3e;
}

.has-wend-report-vivid-cyan-green-background-color {
	background-color: #00d084;
}

.has-wend-report-pale-cyan-blue-background-color {
	background-color: #8fd1fc;
}

.has-wend-report-vivid-purple-background-color {
	background-color: #9b51df;
}

.has-wend-report-bright-blue-background-color {
	background-color: #00ced6;
}

.has-wend-report-gold-background-color {
	background-color: #85754e;
}

.has-wmf-report-brightblue-color {
	color: #00a0ff;
}

.has-wmf-report-blue-color {
	color: #0067c7;
}

.has-wmf-report-bright-yellow-color {
	color: #e9e7c0;
}

.has-wmf-report-red-color {
	color: #970302;
}

.has-wmf-report-orange-color {
	color: #ff7800;
}

.has-wmf-report-yellow-color {
	color: #f0bc00;
}

.has-wmf-report-green-color {
	color: #318557;
}

.has-green-30-color {
	color: #14866d;
}

.has-wmf-report-bright-green-color {
	color: #71d1b3;
}

.has-wmf-report-purple-color {
	color: #5748b5;
}

.has-wmf-report-link-color-color {
	color: #3a25ff;
}

.has-wmf-report-toned-yellow-color {
	color: #fbeebf;
}

.has-wend-report-luminous-vivid-orange-color {
	color: #ff6801;
}

.has-wend-report-luminous-vivid-amber-color {
	color: #fcb900;
}

.has-wend-report-cobalt-color {
	color: #0360fe;
}

.has-wend-report-slate-blue-color {
	color: #1c2d3e;
}

.has-wend-report-vivid-cyan-green-color {
	color: #00d084;
}

.has-wend-report-pale-cyan-blue-color {
	color: #8fd1fc;
}

.has-wend-report-vivid-purple-color {
	color: #9b51df;
}

.has-wend-report-bright-blue-color {
	color: #00ced6;
}

.has-wend-report-gold-color {
	color: #85754e;
}

/**
 * Fix theme colour overrides.
 *
 * In the Shiro theme, some colours are set to a different colour value to what
 * is visible in the editor. This causes unexpected results when publishing.
 * Here we are overriding those values to match the editor. This is a temporary
 * solution and should be resolved in the theme.
 *
 * See:
 * - https://github.com/wikimedia/shiro-wordpress-theme/blob/main/assets/src/sass/helpers/_style-guide-variables-overrides.scss
 * - https://github.com/wikimedia/shiro-wordpress-theme/blob/main/inc/editor/namespace.php
 */
.single-wmf-report {
	.has-bright-green-70-background-color {
		background-color: #dbf3ec;
	}

	.has-dark-green-background-color {
		background-color: #305d70;
	}

	.has-dark-green-70-background-color {
		background-color: #cbd6db;
	}

	.has-green-background-color {
		background-color: #396;
	}

	.has-red-background-color {
		background-color: #900;
	}

	.has-yellow-90-background-color {
		background-color: #fef6e7;
	}

	.has-bright-green-70-color {
		color: #dbf3ec;
	}

	.has-dark-green-color {
		color: #305d70;
	}

	.has-dark-green-70-color {
		color: #cbd6db;
	}

	.has-green-color {
		color: #396;
	}

	.has-red-color {
		color: #900;
	}

	.has-yellow-90-color {
		color: #fef6e7;
	}
}
