/**
 * Base variables, partly inherited from WikimediaUI Base v0.18.1
 * Wikimedia Foundation user interface base variables
 * https://gerrit.wikimedia.org/g/wikimedia-ui-base/
 */

// == Breakpoints ==
// The following numbers are prone to change with new information.

// Minimum available screen width at which a device can be considered a mobile device
// Many older feature phones have screens smaller than this value.
@use "sass:math";

$width-breakpoint-mobile: 320px;

// Minimum available screen width at which a device can be considered a tablet
// The number is currently based on the device width of a Samsung Galaxy S5 mini and is low
// enough to cover iPad (768px).
$width-breakpoint-tablet: 720px;

// Minimum available screen width at which a device can be considered a desktop.
$width-breakpoint-desktop: 1000px;

// Wider desktop breakpoint, currently used in Flow.
$width-breakpoint-desktop-wide: 1200px;

// Extra wide desktop breakpoint
$width-breakpoint-desktop-extrawide: 2000px;

// == Typography ==

// Font sizes
$font-size-small: 0.875rem; // 14px
$font-size-base: 0.95rem; // 15px
$font-size-large: 1.15rem; // 18px
$font-size-xlarge: 1.5rem; // 24px
$font-size-xxlarge: 1.75rem; // 28px
$font-size-xxxlarge: 2.188rem; // 35px

// Line heights
$line-height-xsmall: 1.07;
$line-height-small: 1.43;
$line-height-base: 1.6;
$line-height-large: 1.56;
$line-height-xlarge: 1.43;
$line-height-xxlarge: 2;
