/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "./jumplist";

.wp-block-wmf-reports-table-of-contents {
	padding-left: 1rem;
	margin: 0;

	li {
		list-style-type: none;
		margin-bottom: 0.5rem;

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			background-color: var(--wp--preset--color--wmf-report-link-color);
			border-radius: 50%;
			content: " ";
			display: inline-block;
			height: 4px;
			margin: 0 0.75rem 0 -1rem;
			vertical-align: middle;
			width: 4px;
		}

		a {
			font-size: 0.9375rem;
			line-height: 1;
		}
	}

	@media screen and (min-width: 782px) {
		border-left: 1px solid var(--wp--preset--color--wmf-report-blue);
		margin-left: 2rem;
		padding-left: 2.875rem;

		li {

			&::before {
				display: none;
			}

			a {
				color: var(--wp--preset--color--wmf-report-blue);
				font-size: 1.125rem;
				font-weight: 700;
			}
		}
	}
}
