.wp-block-wmf-reports-map .block-editor-block-list__layout>.wp-block[data-align="full"] {
	max-width: 100%;

	.wp-block:not([data-align="full"]) {
		max-width: 960px;
	}
}

.wp-block-wmf-reports-map {
	.help {
		color: #333;
		font-size: 1rem;
		margin-bottom: 0.5rem;
		margin-top: -2rem;
	}

	&:not( :has( .wp-block-wmf-reports-marker ) ) {
		.help {
			margin-top: 0;
		}
	}
}
