@use "../../helpers/variables";

.wp-block-wmf-reports-map {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	grid-template-areas:
		"main"
		"sidebar";

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.alignwide {
		max-width: variables.$width-breakpoint-wide;
	}

	.mapboxgl-control-container {
		margin: auto;
		max-width: variables.$width-breakpoint-wide;
	}

	.mapboxgl-ctrl-top-right {
		position: relative;
	}

	.mapboxgl-ctrl-logo {
		display: none !important;
	}

	.marker {
		content: "";
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		height: 1.5rem;
		width: 1.5rem;
	}

	.cluster {
		color: #fff;
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		font-size: variables.$font-size-base;
		height: 2rem;
		text-align: center;
		width: 2rem;
		padding-top: 0.35rem;
	}

	.marker.active,
	.cluster.active {
		background: var(--map-marker-active-color, #ff7800);
		height: 1.8rem;
		width: 1.8rem;
	}

	.wp-block-buttons {
		display: inline-block; // Prevents overlap with nav arrows.
	}
}

/* Vertically stacked (default) style. */
.wp-block-wmf-reports-map:not(.is-style-side-by-side) {
	#map {
		background-color: #fff;
	}

	&::after {
		box-shadow: inset 0 3px 10px -10px rgba(0, 0, 0, 0.75);
		content: "";
		height: 10px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.mapboxgl-map {
		height: 300px;
		margin: auto;
		width: 100%;

		@media only screen and ( min-width: 782px ) {
			height: 250px;
		}
	}

	.carousel-buttons {
		grid-area: main;
		position: absolute;
		bottom: 0;
		right: 1rem;
		display: flex;
		justify-content: flex-end;
		// On narrow screens, put arrows at bottom of the content column image.
		transform: translate(0, calc(300px + 50%));

		@media screen and (min-width: 782px) {
			grid-area: sidebar;
			bottom: 2rem;
			right: max(2rem, calc((100vw - 1200px) / 2));
			transform: none;
		}
	}
}

.wp-block-wmf-reports-map__container.wp-block-group.has-background:not(
		:only-child
	) {
	padding-bottom: 0 !important;
}

.wp-block-wmf-reports-marker {
	&.animate {
		transition: all 0.25s;
	}

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.wp-block-group.has-background:not(:only-child) {
		margin-bottom: 0;
	}
}

// These general non-layout styles are sandboxed to the side-by-side mode
// as of July 2025. They could be expanded to apply to all maps if it is
// acceptable to retroactively change design on e.g. old annual reports.
.wp-block-wmf-reports-map.is-style-side-by-side {
	.marker.active {
		outline: 4px solid white;
		outline-offset: -6px;
	}

	// These controls aren't accessible on the <p> block yet.
	.wmf-pattern-reports-carousel-slide__location {
		font-weight: bold;
		font-style: italic;
		margin-bottom: 1rem;
	}

	.wp-block-buttons,
	.is-style-sans-p {
		font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
	}
}

.wp-block-wmf-reports-map.is-style-side-by-side {

	@media screen and (max-width: 719px /* 45rem - 1px */) {
		.is-layout-constrained > &:not(.alignfull) {
			// Always full-bleed on small viewports. Override core style.
			margin-left: calc(-1 * var(--wp--style--root--padding-left)) !important;
			margin-right: calc(-1 * var(--wp--style--root--padding-right)) !important;
		}
	}

	@media screen and (min-width: 45rem) {
		grid-template-columns: 70% 30%;
		grid-template-rows: 1fr;
		grid-template-areas: "main sidebar";
		align-items: stretch;
		width: 100%;
		position: relative;
		margin: auto;

		#map {
			background-color: #f2f2f2;
			min-height: 100%;
			grid-area: main;
		}

		.carousel__carousel-wrapper {
			grid-area: sidebar;

			> * {
				margin: 1.5rem;
			}
		}

		.wmf-pattern-reports-carousel-slide {
			> .wp-block-columns {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				justify-content: flex-start;
			}

			&,
			&.wp-block-group.has-background {
				padding: 1.5rem;
			}

			> .wp-block-columns > .wp-block-column > *:not(:last-child) {
				margin-top: 0;
				margin-bottom: 1rem;
			}

			.wp-block-image img {
				border-radius: 0.25rem;
			}

			> .wp-block-columns {
				flex-direction: column;
			}
		}
	}

	.carousel__carousel-wrapper {
		// Stack all cards on top of each other.
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		padding-bottom: 3rem;
	}

	.wp-block-wmf-reports-marker {
		margin: 0;

		> .alignfull {
			margin: 0;
		}

		> :not(.alignfull) {
			margin: var(--wp--style--root--padding-left, 1rem);

			@media screen and (min-width: 45rem) {
				margin: 1.5rem;
			}
		}
	}

	&.carousel--uninitialized .wp-block-wmf-reports-marker:not(:first-of-type) {
		// Avoid CLS when loading in. May be better to switch to a .nojs class?
		display: none;
	}

	.carousel-buttons {
		grid-area: main;
		position: absolute;
		bottom: 0;
		right: 1rem;
		transform: translate(0, 50%);

		@media screen and (min-width: 45rem) {
			grid-area: sidebar;
			bottom: 1rem;
			right: max(1rem, calc((100vw - 1200px) / 2));
			transform: none;
		}
	}
}
