@use "../../helpers/variables";

.wp-block-wmf-reports-map {

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.alignwide {
		max-width: variables.$width-breakpoint-wide;
	}

	.mapboxgl-control-container {
		margin: auto;
		max-width: variables.$width-breakpoint-wide;
	}

	.mapboxgl-ctrl-top-right {
		position: relative;
	}

	.mapboxgl-ctrl-logo {
		display: none !important;
	}

	.marker {
		content: "";
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		height: 1.5rem;
		width: 1.5rem;
	}

	.cluster {
		color: #fff;
		cursor: pointer;
		background: #000;
		background-size: cover;
		border: none;
		border-radius: 50%;
		font-size: variables.$font-size-base;
		height: 2rem;
		text-align: center;
		width: 2rem;
		padding-top: 0.35rem;
	}

	.marker.active,
	.cluster.active {
		background: var(--map-marker-active-color, #ff7800);
		height: 1.8rem;
		width: 1.8rem;
	}

	.wp-block-buttons {
		display: inline-block; // Prevents overlap with nav arrows.
	}
}

/* Vertically stacked (default) style. */
.wp-block-wmf-reports-map:not(.is-style-side-by-side) {
	#map {
		background-color: #fff;
	}

	&::after {
		box-shadow: inset 0 3px 10px -10px rgba(0, 0, 0, 0.75);
		content: "";
		height: 10px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.mapboxgl-map {
		height: 300px;
		margin: auto;
		width: 100%;

		@media only screen and ( min-width: 782px ) {
			height: 250px;
		}
	}
}

.wp-block-wmf-reports-map__container.wp-block-group.has-background:not(:only-child) {
	padding-bottom: 0;
}

.wp-block-wmf-reports-marker {

	&.animate {
		transition: all 0.25s;
	}

	.wp-block-group.alignfull,
	.alignfull {
		margin: 0;
		width: 100%;
	}

	.wp-block-group.has-background:not(:only-child) {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 45rem) {
	.wp-block-wmf-reports-map.is-style-side-by-side {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		flex-wrap: nowrap;
		position: relative;

		#map {
			background-color: #f2f2f2;
			min-height: 100%;
			width: 70%;
		}

		.carousel__carousel-wrapper {
			width: 30%;
		}

		.wmf-pattern-reports-carousel-slide {
			> .wp-block-columns {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				justify-content: flex-start;
			}

			&,
			&.wp-block-group.has-background {
				padding: 1.5rem;
			}

			> .wp-block-columns > .wp-block-column > *:not(:last-child) {
				margin-top: 0;
				margin-bottom: 1rem;
			}

			.wp-block-image img {
				border-radius: 0.25rem;
			}

			> .wp-block-columns {
				flex-direction: column;
			}
		}
	}
}
