.wp-block-wmf-reports-accordion {
	padding: 0;

	.accordion-item {
		margin: 0;
		padding: 0;
	}

	.accordion-item__title {
		padding: 2rem 0;
	}

	.accordion-item__title::after {
		background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAyMiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMSA5LjU4NTg2TDIwLjI5MjkgMC4yOTI5NjlMMjEuNzA3MSAxLjcwNzE4TDExIDEyLjQxNDNMMC4yOTI4NzcgMS43MDcxOEwxLjcwNzA5IDAuMjkyOTY5TDExIDkuNTg1ODZaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K) center center no-repeat;
		content: " ";
		display: inline-block;
		height: 48px;
		width: 48px;
		vertical-align: middle;
		transform: none;
		border: 1px solid #aaa;
		border-radius: 50%;
	}

	.accordion-item[aria-expanded] .accordion-item__title::after {
		transform: rotate(180deg);
	}

	.accordion-item__title-text {
		font-family: $font-family-base;
		font-weight: 700;
		font-size: #{$font-size-xlarge};
		line-height: #{$line-height-xlarge};

		mark.has-inline-color {
			font-size: #{$font-size-base};
		}
	}

	.accordion-item__content {

		.wp-block-table {
			margin-bottom: 1em;

			table {

				th:first-of-type,
				td:first-of-type {
					padding-left: 0;
				}

				th:last-of-type,
				td:last-of-type {
					padding-right: 0;
				}
			}

			// stylelint-disable-next-line no-descending-specificity
			table,
			thead,
			tbody,
			tr,
			th,
			td {
				border: 0;
			}

			thead {
				border-bottom: 1px solid #c8ccd1;
			}
		}
	}
}
