.wp-block-wmf-reports-map.carousel,
.wp-block-wmf-reports-stories.carousel {
	overflow: hidden;
	position: relative;

	.carousel-wrapper {
		position: relative;

		@media only screen and ( min-width: 782px ) {
			position: initial;
		}
	}

	.carousel__buttons-wrapper {
		bottom: auto;
		position: absolute;
		top: calc(300px - 1.5rem);
		right: 0;
		width: 100%;
		z-index: 2;

		@media only screen and ( min-width: 782px ) {
			bottom: 2rem;
			top: auto;
			right: auto;
		}
	}

	.carousel__buttons {
		margin: auto;
		max-width: $width-breakpoint-wide;
		text-align: right;
		padding-right: 1rem;

		@media only screen and ( min-width: 782px ) {
			margin-top: -5rem;
		}

		@media only screen and ( min-width: calc( $width-breakpoint-wide + 1rem ) ) {
			padding-right: 0;
		}
	}

	button.carousel__button {
		background-color: #fff;
		// stylelint-disable-next-line function-url-quotes
		background-image: url('data:image/svg+xml,<svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5858 11L0.292908 1.70712L1.70712 0.292908L12.4142 11L1.70712 21.7071L0.292908 20.2929L9.5858 11Z" fill="black"/></svg>');
		background-position: 55% 50%;
		background-repeat: no-repeat;
		border: 1px solid #aaa;
		border-radius: 100%;
		cursor: pointer;
		height: 48px;
		margin-left: 0.5rem;
		width: 48px;

		&--back {
			transform: scaleX(-1);
		}

		&:hover {
			background-color: #ccc;
		}

		&:focus {
			border-radius: 100%;
		}
	}

	.alignwide {
		max-width: $width-breakpoint-wide;
	}

	.stories__categories-buttons {
		display: none;
		height: 0;
		position: relative;

		@media only screen and ( min-width: calc( $width-breakpoint-wide + 12rem ) ) {
			display: block;

			#carousel-slide-back {
				left: -6rem;
				position: absolute;
				top: -5.5rem;
			}

			#carousel-slide-forward {
				position: absolute;
				right: -6rem;
				top: -5.5rem;
			}
		}
	}
}

.wmf-pattern-reports-carousel-slide {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: 400;
	line-height: $line-height-base;

	@media only screen and ( max-width: 781px ) {
		padding: 0;

		&.wp-block-group.has-background {
			padding: 0 0 1rem 0;
		}

		.wp-block-columns .wp-block-column:last-child {
			margin-left: 0;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	.is-style-sans-p {
		margin-top: 0;
	}

	&__image.wp-block-image {
		margin-bottom: 0;
		margin-left: -2rem;
		margin-right: -2rem;

		@media only screen and ( min-width: 782px ) {
			margin-left: auto;
			margin-right: auto;
		}

		img {
			max-height: 300px;
			height: 300px;
			width: auto;
			min-width: 100%;

			@media only screen and ( min-width: 782px ) {
				border-radius: 30px;
				height: auto;
				max-height: 100%;
			}
		}
	}

	&__category {
		text-transform: uppercase;
		font-weight: 700;
	}

	&__heading {
		font-family: $font-family-base;
		font-size: $font-size-xlarge;
		font-weight: 700;
	}

	&__location.is-style-sans-p {
		margin-bottom: 0.5rem;

		&::before {
			content: "";
			background: #ff7800;
			background-size: cover;
			border-radius: 50%;
			display: inline-block;
			height: $font-size-base;
			margin-right: 8px;
			width: $font-size-base;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;

		.wp-block-column:last-child {

			> *:last-child {
				margin-bottom: 1rem;

				@media only screen and ( min-width: 782px ) {
					margin-bottom: 5rem;
				}
			}
		}
	}
}
