.wp-block-wmf-reports-donate.wp-block-group.has-background {
	padding: 2rem;

	@media only screen and ( min-width: #{ $width-breakpoint-wide + 64 } ) {
		padding: 4rem 4rem 3rem 4rem !important;
	}

	.has-icon-heart-pink {

		.wp-block-button__link::before {
			filter: brightness(0) invert(1);
		}
	}

	h3,
	h4 {
		font-size: 1.5rem;
	}

	p {
		font-size: 0.9375rem;
	}
}
