.wmf-pattern-reports-hero {

	padding: 0 !important;

	.wp-block-group__inner-container {
		position: relative;
	}

	&__heading-container {
		transform: translateY(-50%);
		margin-bottom: -5rem;

		@media only screen and ( min-width: 782px ) {
			margin-bottom: 0;
			position: absolute;
			top: 50%;
		}
	}

	&__heading.alignwide {
		margin-left: -2rem;

		@media only screen and ( min-width: 782px ) {
			margin-left: auto;
		}
	}

	&__heading-pill.wp-block-group.has-background {
		border-radius: 0 30px 30px 0;
		max-width: 90%;
		padding: 2rem;

		h1 {
			font-size: 35px;
		}

		.wmf-pattern-reports-hero__heading-label {
			position: absolute;
			top: -3rem;
		}

		@media only screen and ( min-width: 782px ) {
			border-radius: 30px;
			max-width: 55%;
		}
	}

	&__image.wp-block-image {
		margin-bottom: 0;
		min-width: 100%;

		img {
			object-fit: cover;
			height: 521px;
		}
	}

	.has-large-font-size {
		line-height: 1.5;
	}

	&__content {
		margin-bottom: 1rem !important;
		padding-bottom: 3rem !important;

		.is-style-sans-p {
			font-size: 15px;

			@media only screen and ( min-width: 782px ) {
				font-size: 24px;
			}
		}

		.wp-block-wmf-reports-expandable {
			@media only screen and ( min-width: 782px ) {
				border-left: 1px solid #fff;
				padding-left: 3rem;
				margin-top: -4rem;
				padding-top: 4rem;
			}
		}

		.expandable-expander {
			background: #00A0FF;
			border-color: rgba(255, 255, 255, 0.5);
			border-radius: 2px;
		}
	}
}
