@use "../helpers/variables";

.wmf-pattern-reports-hero {
	padding: 0 !important;
	margin-bottom: 3rem !important;

	.wp-block-group__inner-container {
		position: relative;
	}

	&__heading-label {

		img {
			filter: brightness(0) invert(1);
			line-height: 0;
			margin: 0 0.5rem -4px 0;
			padding: 0;
		}
	}

	&__heading-container {
		transform: translateY(-50%);
		margin-bottom: calc(-0.5 * var(--report-overlapping-callout-group-block-height, 200px));

		@media only screen and ( min-width: 782px ) {
			margin-bottom: 0;
			position: absolute;
			top: 50%;
		}
	}

	&__heading.alignwide {
		margin-left: -2rem !important;

		@media only screen and ( min-width: 782px ) {
			margin-left: auto !important;
		}
	}

	&__heading-pill.wp-block-group.has-background {
		border-radius: 0 30px 30px 0;
		max-width: 34rem;
		width: 90vw;
		padding: 2rem;

		.editor-styles-wrapper & {
			width: 90%;
		}

		h1 {
			font-size: 2.1875rem;
			line-height: 1.3;
			margin-bottom: 0;
		}

		h2.is-style-report-section-heading {
			position: absolute;
			margin-top: -2rem;
			transform: translate(0, -50%);
		}

		@media only screen and ( min-width: 782px ) {
			border-radius: 30px;

			h2.is-style-report-section-heading {
				position: absolute;
			}
		}

		.wp-block-buttons {
			margin-top: 1rem;
		}
	}

	&__image.wp-block-image {
		margin-bottom: 0;
		min-width: 100%;

		img {
			object-fit: cover;
			height: 512px;
		}
	}

	.has-large-font-size {
		line-height: 1.5;
	}

	& &__content-background.wp-block-group {

		@media only screen and ( max-width: 781px ) {
			padding-top: 2.5rem;
		}
	}

	&__content {
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;

		.is-style-sans-p {
			font-size: variables.$font-size-base;

			@media only screen and ( min-width: 782px ) {
				font-size: variables.$font-size-xlarge;
			}
		}

		.wp-block-wmf-reports-expandable {

			@media only screen and ( min-width: 782px ) {
				border-left: 1px solid #fff;
				padding-left: 2.875rem;
				margin-left: 2rem;
				margin-top: -4rem;
				padding-top: 4rem;
			}
		}

		.expandable-expander {
			background: #00a0ff;
			border-color: rgba(255, 255, 255, 0.5);
			border-radius: 2px;
		}
	}
}
