@use "../helpers/variables";

/* stylelint-disable no-descending-specificity */
.wmf-pattern-reports-leadership {
	h3,
	.is-style-h3 {
		font-size: 1.5rem;
	}

	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0 0 2rem 0;
		display: grid;
		gap: 0.9rem;

		grid-template-columns: 1fr 1fr;

		@media only screen and (min-width: 782px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.wp-block-group {
			padding: 0;
			margin: 0;
			margin-left: 0;

			.wp-block-buttons,
			p {
				font-size: variables.$font-size-small;
				margin-bottom: 0;
			}

			.wp-block-button__link,
			.wp-block-button.is-style-as-link a.wp-block-button__link {
				color: #000;
				display: block;
				font-size: variables.$font-size-small;
				font-weight: 400;
				text-align: left;
				cursor: default;
				pointer-events: none;

				strong {
					color: #3a25ff;
					cursor: pointer;
					display: inline-block;
					font-weight: 700;
					line-height: 1.6;
					pointer-events: all;
				}

				&:hover {
					text-decoration: none;

					strong {
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__list {
		.wp-block-group {
			margin-left: 0 !important;
		}
	}
}
