
.wmf-annual-reports-overlay-wrapper {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	transition: all 0.3s;
	width: 100%;
	z-index: 99999;

	.wmf-annual-reports-overlay-popover {
		background-color: #fff;
		margin: auto;
		max-width: calc($width-breakpoint-wide + 8rem);
		opacity: 0;
		padding: 1rem;
		min-height: 100%;
		position: relative;
		text-align: left;
		transition: all 0.3s;

		@media only screen and ( min-width: 782px ) {
			border-radius: 30px;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
			min-height: 0;
			padding: 2rem 8rem 2rem 8rem;

			&.center {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.wmf-annual-reports-overlay-popover-close {
		background-color: #fff;
		// stylelint-disable-next-line function-url-quotes
		background-image: url('data:image/svg+xml,<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.17069 7.9958L1.16665 13.9998L0 12.8332L6.00404 6.82915L0.341705 1.16681L1.50836 0.000160592L7.17069 5.66249L12.8332 0L13.9998 1.16665L8.33735 6.82915L14.3415 12.8333L13.1749 14L7.17069 7.9958Z" fill="%23202122"/></svg>');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		border: 1px solid #aaa;
		border-radius: 100%;
		cursor: pointer;
		height: 48px;
		position: absolute;
		right: 1rem;
		top: 1rem;
		width: 48px;

		@media only screen and (min-width: 782px) {
			position: fixed;
			right: 2rem;
			top: 2rem;
		}

		@media only screen and (min-width: calc($width-breakpoint-wide + 8rem)) {
			left: 50%;
			transform: translateX(calc(-50% + calc($width-breakpoint-wide / 2)));
		}

		&:hover {
			background-color: #ccc;
		}

		&:focus {
			border-radius: 100%;
		}
	}
}

.wp-block-wmf-pattern-overlay {

	&__image.wp-block-image {

		img {
			border-bottom-right-radius: 30px;
		}
	}

	&__location,
	&__location.is-style-sans-p {
		margin-bottom: 0.5rem;

		&::before {
			content: "";
			background: #ff7800;
			background-size: cover;
			border-radius: 50%;
			display: inline-block;
			height: $font-size-base;
			margin-right: 8px;
			width: $font-size-base;
		}
	}

	.wp-block-group-is-layout-flex {
		margin-bottom: 1rem;

		.wp-block-wmf-pattern-overlay__image.wp-block-image {

			@media only screen and (max-width: 781px) {
				margin-top: -1rem;
				margin-left: -1rem;
				margin-right: -1rem;
				order: -1;
			}
		}
	}

	.wp-block-columns {

		@media only screen and (min-width: 782px) {
			margin-left: -6rem;
		}

		.wp-block-column {
			margin-bottom: 0;
			margin-top: 0;
		}

		.wp-block-wmf-pattern-overlay__image.wp-block-image {

			@media only screen and (max-width: 781px) {
				margin-bottom: 0;
				margin-top: -1rem;
				margin-left: -1rem;
				margin-right: -1rem;
				order: -1;
			}
		}
	}

	.wp-block-quote:not(.is-style-pullquote) {
		border-left: 0.5rem solid currentcolor;
		font-style: normal;
	}

	.wp-block-quote.is-style-pullquote {
		font-style: normal;
		position: relative;
		z-index: 2;

		&::before {
			color: #e9e7c0;
			content: "“";
			left: -1rem;
			line-height: 1;
			font-size: 8rem;
			margin: 0;
			padding: 0;
			position: absolute;
			top: -1.8rem;
			z-index: 1;
		}

		p {
			position: relative;
			z-index: 2;
		}
	}

	// stylelint-disable-next-line no-descending-specificity
	p:has(+ hr) {
		margin-bottom: 0;
	}

	hr.wp-block-separator {
		border: none;
		background: #aaa;
		height: 1px;
		margin: 1rem 0;
	}
}
