.wmf-pattern-report-welcome {
	padding: 0 !important;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li,
	p {
		font-family: var(--font-family-sans);
		// font-size: $font-size-base;
		font-weight: 400;
		line-height: $line-height-base;
	}

	p + p {
		margin-top: 0;
	}

	.wp-block-group.alignfull,
	.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		width: 100%;

		// stylelint-disable-next-line no-descending-specificity
		.wp-block-group__inner-container {
			padding: 0;
		}
	}

	.wp-block-group.alignwide,
	.alignwide {
		margin-left: auto;
		margin-right: auto;
		max-width: $width-breakpoint-wide !important;
		width: 100%;

		@media only screen and ( max-width: calc( $width-breakpoint-wide + 4rem ) ) {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

.wmf-pattern-report-into-hero {
	padding: 0 !important;

	// stylelint-disable-next-line no-descending-specificity
	.wp-block-group__inner-container {
		position: relative;
	}

	&__heading-container {
		margin-bottom: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__heading.alignwide {
		margin-left: -2rem !important;

		@media only screen and ( min-width: 782px ) {
			margin-left: auto !important;
		}
	}

	&__heading-pill.wp-block-group.has-background {
		border-radius: 0 30px 30px 0;
		max-width: 90%;
		padding: 2rem;

		h2 {
			font-size: 35px;
			line-height: 1.3;
		}

		.wmf-pattern-reports-hero__heading-label {
			position: absolute;
			top: -3rem;
		}

		@media only screen and ( min-width: 782px ) {
			border-radius: 30px;
			max-width: 55%;
		}
	}

	&__image.wp-block-image {
		margin-bottom: 0;
		min-width: 100%;

		img {
			object-fit: cover;
			height: 512px;
		}
	}

	.has-large-font-size {
		line-height: 1.5;
	}

	&__heading-label {
		display: inline-block;
		background: #000;
		color: #fff;
		font-family: $font-family-base;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 700;
		padding: 0.5rem 1rem 0.5rem 1rem;
		margin-bottom: 1rem;
		position: absolute;
		top: -3rem;

		// stylelint-disable-next-line no-descending-specificity
		img {
			filter: brightness(0) invert(1);
			line-height: 0;
			margin: 0 0.5rem -4px 0;
			padding: 0;
		}
	}

	.wp-block-buttons {
		margin-bottom: 0;

		.wp-block-button.is-style-tertiary {

			.wp-block-button__link.wp-element-button {
				color: #00a0ff;
				border-color: #00a0ff;
				box-shadow: none;

				&:hover {
					box-shadow: none;
					text-decoration: none;
					opacity: 0.8;
				}
			}
		}
	}
}

.wmf-pattern-report-intro-columns.wp-block-columns {
	margin-bottom: 0;

	@media only screen and ( max-width: 781px ) {
		gap: 0;

		.wp-block-column:nth-child(even) {
			margin-left: 0;
		}
	}

	.wmf-pattern-report-intro-columns__select {
		position: relative;
		margin-bottom: 1rem;

		button.dropdown-toggle {
			cursor: pointer;
			color: #000;
			text-align: center;
			border: 1px solid #aaa;
			background: #fff;
			border-radius: 0;
			padding: 0.5rem;
			width: 100%;

			&:hover {
				box-shadow: none;
				color: #000;
				opacity: 0.8;
			}

			&::after {
				// stylelint-disable-next-line function-url-quotes
				background: url('data:image/svg+xml,<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.795181 1L6.26205 6L11.7289 1" stroke="black" stroke-width="2"/></svg>') center center no-repeat;
				content: " ";
				display: inline-block;
				height: 1em;
				margin-left: 0.5rem;
				padding-left: 0.25rem;
				width: 13px;
				vertical-align: middle;
			}
		}

		button.dropdown-toggle[aria-expanded="true"]::after {
			transform: rotate(180deg);
		}

		ul {
			position: absolute;
			top: 2.2rem;
			padding: 0;
			margin: 0;
			list-style-type: none;
			width: 100%;
			z-index: 2;
			visibility: hidden;
			height: 0;

			li {
				padding: 0;
				margin: 0;
				list-style-type: none;
				width: 100%;

				button {
					cursor: pointer;
					color: #666;
					text-align: center;
					border: 1px solid #eee;
					background: #fff;
					border-top: none;
					border-radius: 0;
					padding: 0.5rem;
					width: 100%;

					&:focus,
					&:hover {
						box-shadow: none;
						background: #eee;
						color: #666;
						outline: none;
					}
				}

				&:first-child button {
					border-top: 1px solid #aaa;
				}

				&:nth-child(odd) button {
					background: #f9f9f9;

					&:focus,
					&:hover {
						background: #eee;
						color: #666;
						outline: none;
					}
				}
			}
		}

		button.dropdown-toggle[aria-expanded="true"] + ul {
			visibility: visible;
			height: auto;
		}
	}
}

.wmf-pattern-previous-report-columns.wp-block-columns {
	gap: 0;
	margin-left: -2rem !important;
	margin-right: -2rem !important;
	margin-bottom: 0;
	padding: 0;

	@media only screen and ( min-width: 782px ) {
		width: calc(100% + 3rem);
		max-width: calc(100% + 3rem) !important;
		margin-left: -1rem !important;
	}

	.wp-block-column:nth-child(even) {

		@media only screen and ( max-width: 781px ) {
			margin-left: 0;
		}
	}
}

.wmf-pattern-previous-report {
	position: relative;
	padding: 0 2rem;
	width: calc(100% + 4rem);

	@media only screen and ( min-width: 782px ) {
		border-radius: 30px;
		width: calc(100% + 1rem);
		margin-left: -1rem;
	}

	&.selected {
		background-color: #c0e6ff;
	}

	&__duration {
		background: #000;
		color: #fff;
		display: inline-block;
		font-family: $font-family-base;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 700;
		padding: 0.5rem 1rem 0.5rem 1rem;
		margin-bottom: 1rem;
		top: 1.5rem;
		left: -1rem;
		position: relative;
	}

	&__image.wp-block-image {
		margin-bottom: 0.5rem;
		margin-top: -1rem;

		img {
			border-bottom-right-radius: 30px;
			width: 100% !important;
			height: auto !important;
		}
	}

	&__link {
		font-size: 18px;
		margin-bottom: 0.5rem;

		a {
			color: #000;
			font-size: 18px;

			&:hover {
				color: #000;
			}

			&::after {
				content: " ";
				// stylelint-disable-next-line function-url-quotes
				background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 16H16V11H18V16C18 17.1046 17.1046 18 16 18H2C0.895431 18 0 17.1046 0 16V2C0 0.89543 0.89543 0 2 0H7V2H2V16Z" fill="%23202122"/><path d="M10 0H18V8L14.71 4.71L8.98 10.44L7.56 9.02L13.29 3.29L10 0Z" fill="%23202122"/></svg>');
				background-repeat: no-repeat;
				margin-left: 0.25rem;
				height: 15px;
				width: 14px;
				display: inline-block;
				background-size: contain;
			}
		}
	}

	&__date {
		font-size: 15px;
		margin-bottom: 1rem;
	}

}

.wmf-pattern-report-intro-donate.wp-block-group {
	margin-top: 2rem;
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
	position: relative;

	.wp-block-columns {
		margin-bottom: 0;

		.wp-block-image {
			margin-bottom: 0;
		}
	}

	.wp-block-buttons {
		position: absolute;
		bottom: 4rem;
		margin: 0;

		img {
			filter: brightness(0) invert(1);
		}
	}

	.wp-block-column:nth-child(even) {

		@media only screen and (max-width: 781px) {
			margin-left: 0;
		}
	}
}
