@import 'patterns/hero/editor';
@import 'patterns/letter-from-the-ceo/editor';

@font-face {
	font-family: 'Noto Sans';
	src: url('../assets/fonts/NotoSans-VariableFont_wdth-wght.ttf');
}

.wmf-expandable-dimensions-panel {
	gap: 0.5rem;
	align-items: flex-start;

	.components-base-control {
		min-width: 4rem;
	}
}
