@import 'patterns/hero/editor';
@import 'patterns/letter-from-the-ceo/editor';

@font-face {
	font-family: "Noto Sans";
	src: url("../assets/fonts/NotoSans-VariableFont_wdth-wght.ttf");
}

.wmf-expandable-dimensions-panel {
	gap: 0.5rem;
	align-items: flex-start;

	.components-base-control {
		min-width: 4rem;
	}
}

.editor-styles-wrapper.single-wmf-report {

	h2.wp-block-heading {
		display: inline-block;
		background: black;
		color: white;
		font-family: 'Noto Sans';
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
		padding: 0.5em 1em 0.5em 1em;
	}
}

.wp-block-group-is-full-viewport-height {
	height: 100vh;
}

/* Shiro Accordion overrides */
.editor-styles-wrapper.single-wmf-report {

	.accordion-item__title::after {
		background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAyMiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMSA5LjU4NTg2TDIwLjI5MjkgMC4yOTI5NjlMMjEuNzA3MSAxLjcwNzE4TDExIDEyLjQxNDNMMC4yOTI4NzcgMS43MDcxOEwxLjcwNzA5IDAuMjkyOTY5TDExIDkuNTg1ODZaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K) center center no-repeat;
		content: " ";
		display: inline-block;
		height: 48px;
		width: 48px;
		vertical-align: middle;
		transform: none;
		border: 1px solid #AAAAAA;
		border-radius: 50%;
	}
}
