/* Helpers */
@import 'helpers/variables';

/* Non-block-specific styles */
button:focus {
	box-shadow: 0 0 0 2px rgba(0, 125, 250, 0.8);
	border-radius: 2px;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../assets/fonts/NotoSans-VariableFont_wdth-wght.ttf');
}

/* Patterns */
@import 'patterns/hero/frontend';
@import 'patterns/letter-from-the-ceo/frontend';

/* Theme overrides */
.single-wmf-report {

	.mw-980 {
		max-width: none;
		padding: 0;
	}

	h2.wp-block-heading {
		display: inline-block;
		background: black;
		color: white;
		font-family: 'Noto Sans';
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
		padding: 0.5em 1em 0.5em 1em;
	}
}
