/* Helpers */
@import "helpers/variables";
@import "helpers/colors";

/* Blocks */
@import "styles/carousel";
@import "styles/map";
@import "styles/overlay";
@import "styles/stories";

/* Patterns */
@import "patterns/hero/frontend";
@import "patterns/letter-from-the-ceo/frontend";

/* Non-block-specific styles */
button:focus {
	box-shadow: 0 0 0 2px rgba(0, 125, 250, 0.8);
	border-radius: 2px;
}

@font-face {
	font-family: "Noto Sans";
	src: url(../assets/fonts/NotoSans-VariableFont_wdth-wght.ttf);
}

/* Theme overrides */
.single-wmf-report {

	.mw-980 {
		max-width: none;
		padding: 0;
	}

	h2:not([class*="is-style-"]) {
		&.wp-block-heading {
			display: inline-block;
			background: black;
			color: white;
			font-family: $font-family-base;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: bold;
			padding: 0.5rem 1rem 0.5rem 1rem;
			margin-bottom: 1rem;
		}
	}

	// .wp-block-group.has-background:not(:only-child) {
	// 	margin-bottom: 0;
	// }

	/* Alignments */
	// .article-main > * {
	// 	max-width: 650px;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }

	// .article-main > .alignwide {
	// 	max-width: 920px;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }

	// .article-main > .alignfull {
	// 	max-width: none;

	// 	&.is-layout-constrained > * {
	// 		max-width: 650px;
	// 	}
	// }
	// [class*="wmf-pattern-reports-"] {
	// 	.wp-block-group__inner-container {
	// 		padding-left: 1.25rem;
	// 		padding-right: 1.25rem;
	// 	}
	// }

	// Demo hack.
	/* stylelint-disable no-descending-specificity */
	.wp-block-group.has-background {
		border-bottom-right-radius: 2rem;
		// margin-bottom: 2rem;
	}
	/* stylelint-enable no-descending-specificity */
}

/* Styles used for core block modifications */
.wp-block-group-is-full-viewport-height {
	height: 100vh;
}

/* Editor style overrides */
.editor-styles-wrapper div.wp-block-group.has-background:not(:only-child) {
	margin-bottom: 0;
}

.editor-styles-wrapper.single-wmf-report .block-editor-block-list__layout>.wp-block .has-background.report-background {
	padding: 0;
}

.editor-styles-wrapper.single-wmf-report,
.single-wmf-report {

	.report-background.wp-block-group.has-background {
		padding: 0;
	}

	h1, h2, h3, h4, h5, h6, li, p {
		font-family: var(--font-family-sans);
		// font-size: $font-size-base;
		font-weight: 400;
		line-height: $line-height-base;
	}

	p+p {
		margin-top: 0;
	}

	&.wp-block-group.alignfull,
	.wp-block-group.alignfull,
	.alignfull,
	.wp-block[data-align="full"] {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		width: 100%;

		.wp-block-group__inner-container {
			padding: 0;
		}
	}

	.alignwide,
	.wp-block[data-align="wide"] {
		margin-left: auto;
		margin-right: auto;
		max-width: $width-breakpoint-wide !important;
		width: 100%;

		@media only screen and ( max-width: calc( $width-breakpoint-wide + 4rem ) ) {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	.wp-block-wmf-reports-expandable {
		margin-bottom: 2rem;

		.expandable-content {
			position: relative;

			&::after {
				content: '';
				height: 2rem;
				width: 100%;
				position: absolute;
				bottom: 0;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
			}
		}

		.expandable-expander {
			display: inline-block;
			padding-left: 3rem;
			padding-right: 3rem;
			width: auto;

			&:after {
				margin-left: 0.5rem;
			}
		}
	}

	.has-base-90-background-color .wp-block-wmf-reports-expandable .expandable-content::after {
		background: linear-gradient(180deg, rgba(258, 249, 250, 0) 0%, rgba(248, 249, 250, 1) 80%);
	}

	.has-wmf-report-blue-background-color .wp-block-wmf-reports-expandable {
		.expandable-expander:after {
			filter: brightness(0) invert(1);
		}

		.expandable-content::after {
			background: linear-gradient(180deg, rgba(1, 103, 199, 0) 0%, rgba(1, 103, 199, 1) 80%);
		}
	}

	.leadership-board-trusties {
		list-style-type: none;
		padding: 0;
		margin: 0 0 2rem 0;
		display: grid;
		gap: 1rem;

		grid-template-columns: 1fr 1fr;

		@media only screen and ( min-width: 782px ) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		li {
			padding: 0;
			margin: 0;
		}
	}

	.donate-section.wp-block-group.has-background {
		padding: 2rem;

		@media only screen and ( min-width: calc( $width-breakpoint-wide + 4rem ) ) {
			padding: 4rem 4rem 3rem 4rem !important;
		}

		.has-icon-heart-pink {
			.wp-block-button__link::before {
				filter: brightness(0) invert(1);
			}
		}
	}

	.wmf-pattern-reports-donors {
		.wp-block-heading {
			margin-bottom: 1rem !important;
		}

		.accordion-item {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0 0 2rem 0;
				// display: grid;
				// grid-column-gap: 1rem;
				// grid-row-gap: 0;

				// grid-template-columns: 1fr 1fr;
				columns: 2;

				@media only screen and ( min-width: 782px ) {
					// grid-template-columns: 1fr 1fr 1fr 1fr;
					columns: 4;
				}

				li {
					padding: 0;
					margin: 0;
				}
			}
		}
	}

	.wp-block-image.is-style-report-image,
	.wp-block-image.is-style-report-image-vertical {
		background-color: #eaecf0;
		padding-left: 0;
		padding-right: 0;

		@media only screen and ( min-width: calc( $width-breakpoint-wide + 4rem ) ) {
			margin-left: auto;
			margin-right: auto;
			border-bottom-right-radius: 2rem;
		}

		img {
			border-bottom-right-radius: 2rem;
		}
		figcaption {
			padding: 1rem 2rem;

			@media only screen and ( min-width: calc( $width-breakpoint-wide + 4rem ) ) {
				padding: 1rem;
			}

			mark {
				display: block;
				font-size: 14px;
				margin-top: 0.5rem;
				&::before {
					content: '';
					background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.1098 7.11994C12.0155 6.66987 11.2043 5.721 10.9298 4.56994C11.0198 4.65994 12.7498 5.47994 12.7498 5.47994L10.0198 0.939941L7.28984 5.48994L9.10984 4.57994C9.16562 5.24661 9.35253 5.8957 9.65984 6.48994C10.1259 7.33085 10.8189 8.02386 11.6598 8.48994C12.3754 8.79383 13.0478 9.19057 13.6598 9.66994L13.0198 10.2999L12.5698 9.84994L12.3098 11.3899L13.8498 11.1299L13.3998 10.6799L14.0198 10.0299C14.8783 10.9836 15.3893 12.1993 15.4698 13.4799L14.5598 13.4799V12.7499L13.2998 13.6599L14.5598 14.5699V13.8399H15.4698C15.4329 15.1333 14.916 16.3667 14.0198 17.2999L13.3798 16.6599L13.8298 16.2099L12.2998 15.9399L12.5598 17.4799L13.0098 17.0299L13.6498 17.6699C12.6962 18.5284 11.4804 19.0394 10.1998 19.1199V18.2099H10.9298L10.0198 16.9399L9.10984 18.2099H9.83984V19.1199C8.54995 19.0806 7.32057 18.5639 6.38984 17.6699L7.01984 17.0299L7.46984 17.4799L7.73984 15.9399L6.19984 16.1999L6.64984 16.6499L6.01984 17.2999C5.16133 16.3463 4.65035 15.1305 4.56984 13.8499L5.47984 13.8499V14.5799L6.73984 13.6699L5.47984 12.7599V13.4899H4.56984C4.60676 12.1966 5.12363 10.9632 6.01984 10.0299L6.65984 10.6699L6.20984 11.1199L7.74984 11.3799L7.46984 9.84994L7.01984 10.2999L6.37984 9.65994L5.01984 8.38994C2.6822 10.5769 2.04477 14.033 3.44842 16.91C4.85208 19.787 7.96837 21.4117 11.1308 20.9153C14.2932 20.4188 16.7618 17.9174 17.2164 14.7487C17.6709 11.5799 16.0052 8.48542 13.1098 7.11994Z" fill="%23006499"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12.5198 13.6399C12.5198 15.0206 11.4005 16.1399 10.0198 16.1399C8.63912 16.1399 7.51984 15.0206 7.51984 13.6399C7.51984 12.2592 8.63912 11.1399 10.0198 11.1399C11.4005 11.1399 12.5198 12.2592 12.5198 13.6399Z" fill="%23970000"/></svg>');
					background-repeat: no-repeat;
					height: 14px;
					width: 14px;
					margin-right: 0.5rem;
					display: inline-block;
				}

			}
		}
	}

	.wp-block-image.is-style-report-image-vertical {
		@media only screen and ( min-width: calc( $width-breakpoint-wide + 4rem ) ) {
			position: relative;
			background-color: transparent;

			figcaption {
				background-color: #eaecf0;
				position: absolute;
				max-width: 25%;
				width: 100%;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				padding: 1rem;
				border-bottom-right-radius: 2rem;
			}

			img {
				max-width: 83.33%;
			};
		}
	}
}
