/* Helpers */
@import "helpers/variables";
@import "helpers/colors.scss";

/* Non-block-specific styles */
button:focus {
	box-shadow: 0 0 0 2px rgba(0, 125, 250, 0.8);
	border-radius: 2px;
}

@font-face {
	font-family: "Noto Sans";
	src: url("../assets/fonts/NotoSans-VariableFont_wdth-wght.ttf");
}

/* Patterns */
@import 'patterns/hero/frontend';
@import 'patterns/letter-from-the-ceo/frontend';

/* Theme overrides */
.single-wmf-report {
	.mw-980 {
		max-width: none;
		padding: 0;
	}

	h2.wp-block-heading {
		display: inline-block;
		background: black;
		color: white;
		font-family: 'Noto Sans';
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
		padding: 0.5em 1em 0.5em 1em;
	}

	.wp-block-group.has-background:not(:only-child) {
		margin-bottom: 0;
	}

	/* Alignments */
	.article-main > * {
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
	.article-main > .alignwide {
		max-width: 920px;
		margin-left: auto;
		margin-right: auto;
	}
	.article-main > .alignfull {
		max-width: none;

		&.is-layout-constrained > * {
			max-width: 650px;
		}
	}

	// Demo hack.
	.wp-block-group.has-background {
		border-bottom-right-radius: 2rem;
	}
}

/* Styles used for core block modifications */
.wp-block-group-is-full-viewport-height {
	height: 100vh;
}

/* Editor style overrides */
.editor-styles-wrapper div.wp-block-group.has-background:not(:only-child) {
	margin-bottom: 0;
}
