/* Helpers */
@import "helpers/variables";
@import "helpers/colors";

/* Blocks */
@import "styles/carousel";
@import "styles/map";
@import "styles/overlay";
@import "styles/stories";

/* Patterns */
@import "patterns/hero/frontend";
@import "patterns/letter-from-the-ceo/frontend";

/* Non-block-specific styles */
button:focus {
	box-shadow: 0 0 0 2px rgba(0, 125, 250, 0.8);
	border-radius: 2px;
}

@font-face {
	font-family: "Noto Sans";
	src: url(../assets/fonts/NotoSans-VariableFont_wdth-wght.ttf);
}

/* Theme overrides */
.single-wmf-report {

	.mw-980 {
		max-width: none;
		padding: 0;
	}

	h2:not(.carousel-slide__heading) {
		&.wp-block-heading {
			display: inline-block;
			background: black;
			color: white;
			font-family: $font-family-base;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: bold;
			padding: 0.5rem 1rem 0.5rem 1rem;
			margin-bottom: 1rem;
		}
	}

	// .wp-block-group.has-background:not(:only-child) {
	// 	margin-bottom: 0;
	// }

	/* Alignments */
	// .article-main > * {
	// 	max-width: 650px;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }

	// .article-main > .alignwide {
	// 	max-width: 920px;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }

	// .article-main > .alignfull {
	// 	max-width: none;

	// 	&.is-layout-constrained > * {
	// 		max-width: 650px;
	// 	}
	// }
	// [class*="wmf-pattern-reports-"] {
	// 	.wp-block-group__inner-container {
	// 		padding-left: 1.25rem;
	// 		padding-right: 1.25rem;
	// 	}
	// }

	// Demo hack.
	/* stylelint-disable no-descending-specificity */
	.wp-block-group.has-background {
		border-bottom-right-radius: 2rem;
		// margin-bottom: 2rem;
	}
	/* stylelint-enable no-descending-specificity */
}

/* Styles used for core block modifications */
.wp-block-group-is-full-viewport-height {
	height: 100vh;
}

/* Editor style overrides */
.editor-styles-wrapper div.wp-block-group.has-background:not(:only-child) {
	margin-bottom: 0;
}

.editor-styles-wrapper.single-wmf-report .block-editor-block-list__layout>.wp-block .has-background.report-background {
	padding: 0;
}

.editor-styles-wrapper.single-wmf-report,
.single-wmf-report {

	.report-background.wp-block-group.has-background {
		padding: 0;
	}

	h1, h2, h3, h4, h5, h6, p {
		font-family: var(--font-family-sans);
		// font-size: $font-size-base;
		font-weight: 400;
		line-height: $line-height-base;
	}

	p+p {
		margin-top: 0;
	}

	&.wp-block-group.alignfull,
	.wp-block-group.alignfull,
	.alignfull,
	.wp-block[data-align="full"] {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		width: 100%;

		.wp-block-group__inner-container {
			padding: 0;
		}
	}

	.alignwide,
	.wp-block[data-align="wide"] {
		margin-left: auto;
		margin-right: auto;
		max-width: $width-breakpoint-wide !important;
		padding-left: 2rem;
		padding-right: 2rem;
		width: 100%;

		// @media only screen and ( min-width: 782px ) {
		// 	padding-left: 0;
		// 	padding-right: 0;
		// }
	}

	.wp-block-wmf-reports-expandable {
		margin-bottom: 2rem;

		.expandable-content {
			position: relative;

			&::after {
				content: '';
				height: 2rem;
				width: 100%;
				position: absolute;
				bottom: 0;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
			}
		}

		.expandable-expander {
			display: inline-block;
			padding-left: 3rem;
			padding-right: 3rem;
			width: auto;
		}
	}

	.has-base-90-background-color .wp-block-wmf-reports-expandable .expandable-content::after {
		background: linear-gradient(180deg, rgba(258, 249, 250, 0) 0%, rgba(248, 249, 250, 1) 80%);
	}

	.has-wmf-report-blue-background-color .wp-block-wmf-reports-expandable .expandable-content::after {
		background: linear-gradient(180deg, rgba(1, 103, 199, 0) 0%, rgba(1, 103, 199, 1) 80%);
	}
}
